/* tiny reset */
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}
/* body */
body{
background: #4d244e;
font-family: sans-serif;
border-top: 5px solid #aa8e8d;
}
/* title */
h1{
color: #aa8e8d;
text-align: center;
font-size: 32px;
font-weight: 900;
}
/* tasks */
.tasks{
width: 50%;
height: 100%;
position: absolute;
top: 10%;
left: 0px; 
right: 0px;
margin: 0px auto;
}

/* textbox */
input[type=text]
{
  border: 3px solid white;
  width: 45%;
  padding: 8px 28px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

/* button */
button
{
  background-color: white;
  border: none;
  width: 45%;
  color: #6d335c;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  margin-top: 4px;
  font-size: 20px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

/*table */
table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  background-color: #6d335c;
  border: 1px solid #34495E;
  padding: .35em;
  color: #e69896;
}

table th,
table td {
  padding: .625em;
  text-align: center;
}

table td span
{
    color: white;
}

table td span a
{
  text-decoration: none;
  color: white;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #34495E;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #34495E;
    display: block;
    font-size: .8em;
    text-align: right;
  }

  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }

  input[type=text]
  {
    width: 71.9%;
  }

  button
  {
    width: 100%;
  }
}
